.card-stack-container {
  position: relative;
  width: min(370px, 100%);
  margin: 30px auto 0px;
}

.card-stack {
  position: absolute;
  width: 100%;
  cursor: pointer;
}
.card-swipe {
  background-color: red;

  animation: swipeCard 250ms 1;
}
@keyframes swipeCard {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-120%);
  }
}
@media screen and (min-width: 400px) {
  @keyframes swipeCard {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-400%);
    }
  }
}
