@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --card-bitcoin: #ffb749;
  --card-ninja: #3a3a3a;
  --card-chain: #7c4ede;
  --card-evil: #db2e4d;
  --card-new: #d5d5d5;
}

* {
  box-sizing: border-box;
}

.deleteButton {
  border: 1px solid black;
  border-radius: 8px;
  width: 300px;
  height: 80px;
  font-family: "PT Mono";
  font-weight: 700;
  font-size: 22px;
}